@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-icons {
  display: none;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  user-select: none !important;
}

table tr td {
  border-collapse: collapse;
  border-radius: 50px;
}
